.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.card-button {
  margin-top: auto;
  padding: 0.5rem 2rem;
  border: 1px solid #000;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #000;
}

.message {
  color: red;
}